body, html{
    overflow-x: hidden;
}

body{
    background-color: #F8F8FF;
}

.room-chat {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 50rem;
    display: flex; 
    flex-direction: column; 
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.room-chat .product-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* BOX CHAT */
.room-chat .chat-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap:1rem;
    max-width: 100%;
    margin-top: 4rem;
}

/* RIGHT CHAT */
.right-chat {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    margin-left: auto;
    border: 1px solid black;
    max-width: 20rem;
    padding: 0.5rem;
    background-color: #FAF9F6;
    border-radius: 5px;
}

/* LEFT CHAT */
.left-chat {
    display: flex;
    flex-direction: column; 
    margin-right: auto;
    border: 1px solid black;
    max-width: 20rem; 
    padding: 0.5rem;
    background-color: #F5F5F5; 
    border-radius: 5px; 
}

.left-chat h6,
.left-chat h5,
.right-chat h6,
.right-chat h5 {
    margin: 0;
}

/* MODAL IMAGES */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
  }
  
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
  }
  .modal-content-upload-file{
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 25rem;
    display: flex;
    flex-direction: column;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .typebox {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 1rem;
}

.typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
}

.typebox button {
    flex: 0;
    height: 100%;
    padding: 0 10px;
    background: #007bff;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 405px) {
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .room-chat{
        width: 100%;
    }

    .typebox {
        width: 100%;
    }

    .left-chat, .right-chat{
        max-width: 80% !important;
    }

    .typebox input {
        font-size: 16px;
        width: auto;
        height: 80%;
    }

    .typebox button {
        font-size: 14px;
        padding: 0 8px;
        height: 80%;
    }
}
